params {
    publish_mode = "symlink"

	human_ref = "/scratch/schudoma/cazy/hg38/GCF_000001405.39_GRCh38.p13_genomic.fna.gz"
	reference = "/scratch/schudoma/ngless/data/Modules/igc.ngm/0.0/data/IGC-bwa-0.7.17.fna"
}

/* section below needs to be adjusted to local cluster */
executor {
    $slurm {
        queueSize = 10
    }
    $local {
        cpus = 1
        memory = '4 GB'
    }
}

process {
    withName: qc_preprocess {
		conda = "bioconda::bbmap"
        executor = "slurm"
        errorStrategy = {task.attempt <= 3 ? "retry" : "ignore"}
        cpus = 4
        memory = {8.GB * task.attempt}
        time = '2h'
        maxRetries = 3
    }

	withName: qc_bbmerge {
		conda = "bioconda::bbmap"
        executor = "slurm"
        errorStrategy = {task.attempt <= 3 ? "retry" : "ignore"}
        cpus = 4
        memory = {16.GB * task.attempt}
        time = '2h'
        maxRetries = 3
	}
	withName: concat_singles {
		executor = "slurm"
		errorStrategy = {task.attempt <= 3 ? "retry" : "ignore"}
		cpus = 1
		memory = '2.GB'
		time = '8h'
		maxRetries = 3
	}
    withName: decontaminate {
		conda = "bioconda::bwa bioconda::'samtools>=1.11'"
        executor = "slurm"
        errorStrategy = {task.attempt <= 3 ? "retry" : "ignore"}
        cpus = 8
        memory = {16.GB * task.attempt}
        time = '8h'
        maxRetries = 3
    }
	withName: align {
		executor = "slurm"
		errorStrategy = {task.attempt <= 3 ? "retry" : "ignore"}
		cpus = 8
		memory = {16.GB * task.attempt}
		time = '8h'
		maxRetries = 3
	}
	withName: align_singles {
		executor = "slurm"
		errorStrategy = {task.attempt <= 3 ? "retry" : "ignore"}
		cpus = 8
		memory = {16.GB * task.attempt}
		time = '8h'
		maxRetries = 3
	}
	withName: merge_and_sort {
		executor = "slurm"
		errorStrategy = {task.attempt <= 3 ? "retry" : "ignore"}
		cpus = 8
		memory = {16.GB * task.attempt}
		time = '8h'
		maxRetries = 3
	}
}
